/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  /* height: 100vh; */
  width: 100vw;
  background: #171715;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
  } */

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.2px;
}

img {
  border-radius: 3px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  margin: 5em 0 5em 0;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.2em;
  width: 100%;
  display: flex;
  gap: 20px;
  font-size: 20px;
  z-index: 99;
  background: #171715;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #717170;
}

.nav-link {
  display: flex;
  margin: 0 1em;
}

.gg-search {
  margin-right: 1em;
  top: 5px;
}

#nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}

#logo-icon {
  background: #e01a10;
  height: 1.2em;
  width: 1.2em;
  border-radius: 0.6em;
}

#logo-text {
  transform: scaleY(1.1);
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
}

.gg-play-button-o  {
  --ggs: 0.7;
  color: white;
  left: 1px;
  top: 1px;
}

.song-list {
  padding: 0;
  margin: 3em 0;
  font-size: 15px;
  width: 85vw;
  letter-spacing: 0.2px;
}

.song-list-member {
  display: grid;
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 0.1px solid #272726;
}

#song-view.song-list-member {
  grid-template-columns: 40px 2fr 1fr 1fr 1fr;
}

#single-album-view.song-list-member {
  grid-template-columns: 40px 1fr 100px 40px;
}

.song-list-member-grid:last-child {
  justify-content: end;
}

.song-list-member-grid:first-child {
  justify-content: start;
}

.song-list-member-grid {
  display: flex;
  justify-content: left;
  align-items: center;
}

.song-list-main-info {
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

.song-list-secondary-info {
  display: flex;
  align-items: center;
  color: #949492
}

.single-album-info {
  display: flex;
  gap: 2em;
  color: white;
  align-items: center;
}

.single-album-info-text {
  display: grid;
  height: 10em;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  font-size: 18px;
}

.single-album-info-text-inner {
  font-size: 14px;
  color: #949492;
  line-height: 5px;
}

.single-album-play-button {
  background: white;
  color: black;
  border-radius: 2px;
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 13px;
  font-weight: 600;
}

.single-album-play-button > .gg-play-button {
  --ggs: 1.3;
  margin: 0;
}

#nav-settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
  width: 100px;
}

.gg-play-button-o  {
  --ggs: 0.7;
  color: white;
  left: 1px;
  top: 1px;
}

.gg-search {
  margin-right: 1em;
  top: 5px;
}

#user-icon {
  height: 25px;
  width: 25px;
  background-color: rgb(2, 87, 2);
  border-radius: 12.5px;
}

#play-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4.8em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background: #292928;
  color: #949492;
}

#play-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.7em;
}

.play-button > button {
  background: none;
  border: none;
  color: white;
  /* width: 2em;
  height: 3em; */
}

.play-button {
  display: flex;
  margin: 0 1em;
  color: white;
}

#playtime-text {
  font-size: 13px;
}

.gg-play-button {
  --ggs: 2.2;
  /* margin: 0 1em; */
}

.gg-play-pause {
  --ggs: 2.2;
  /* margin: 0 1em; */
}

.gg-play-song-prev {
  --ggs: 1.2;
}

.gg-play-song-next {
  --ggs: 1.2;
}

#TrackInfo{
  display: flex;
  align-items: center;
}

#played-song {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
}

.gg-menu{
  margin-left: 1em;
}

#play-progress-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e01a10;
  height: 3px;
}

#library-links {
  margin: 5em 0;
  color: white;
  width: 85vw;
}

#AlbumView {
  display: flex;
  flex-wrap: wrap;
}

.album {
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2em 2em 0 0;
  font-size: 12px;
}

.gg-more-vertical-alt {
  color: white;
}

.song-option-modal {
  position: absolute;
  background: #292928;
  width: 150px;
  color: white;
  border: 1px solid #3b3b3a;
  border-radius: 3px;
  padding: 10px 0;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.song-option-modal-button {
  padding: 10px;
  width: 100%;
  text-align: left;
}

.song-option-modal-button:hover {
  background-color: #3b3b3a;
}

.playbar-additional-controls {
  margin-right: 1.5em;
}
